{
    "GPT_MODEL": "gpt-4",
    "MAPBOX_MAPTILES": "maptile_url",
    "MAPBOX_ACCESS_TOKEN": "access_token",
    "MONGO_CLUSTER_URI": "URI_to_Database_cluster",
    "MONGO_DB_NAME" : "Name_of_database_collection",
    "POI_DB_NAME" : "name_of_poi_data_db",
    "DISTANCE_MATRIX" : "name_of_distance_matrix_db",
    "CLUSTER_LOCATIONS" : "name_of_cluster_location_database",
    "OPENAI_API_KEY": "API_KEY"
}