<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Tour Guide</title>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/info-card.css">
    <link rel="stylesheet" href="static/css/weather-widget.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/marked/marked.min.js'></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js"></script>
</head>
<body>
    <div class="header">
        <img src="static/icons/guide-genius.png" class="header-icon">
        <div class="header-text">Guide Genius</div>
        <div class="min-weather-widget" id="minWeatherWidget">
            <img alt="min weather icon" class="min-weather-icon" id="weather-icon0">
            <div class="min-forecast" id="forecast0"></div>
            <div class="min-temp-details">
                <div class="min-tempLow" id="tempLow0"></div>
                <div class="min-tempHigh" id="tempHigh0"></div>
            </div>           
        </div>
    </div>
    <div class="weather-widget" id="weather-widget">
        <button class="close-button" id="close-button">&times;</button>
        <div class="weather-column main-forecast" id="day-1">
            <div class="datetext">Today</div>
            <img src="" alt="Weather Icon" class="weather-icon" id="weather-icon1">
            <div class="forecast-details">
                <div class="forecast" id="forecast1"></div>
                <div class="temp-details">
                    <div class="tempLow" id="tempLow1"></div>
                    <div class="tempHigh" id="tempHigh1"></div>
                </div>
            </div>
        </div>
        <div class="weather-column sub-forecast" id="day-2">
            <div class="datetext" id="datetext2"></div>
            <img src="" alt="Weather Icon" class="weather-icon" id="weather-icon2">
            <div class="grid-container">
                <div class="grid-child tempLow" id="tempLow2"></div>
                <div class="grid-chid tempHigh" id="tempHigh2"></div>
            </div>
        </div>
        <div class="weather-column sub-forecast" id="day-3">
            <div class="datetext" id="datetext3"></div>
            <img src="" alt="Weather Icon" class="weather-icon" id="weather-icon3">
            <div class="grid-container">
                <div class="grid-child tempLow" id="tempLow3"></div>
                <div class="grid-chid tempHigh" id="tempHigh3"></div>
            </div>
        </div>
        <div class="weather-column sub-forecast" id="day-4">
            <div class="datetext" id="datetext4"></div>
            <img src="" alt="Weather Icon" class="weather-icon" id="weather-icon4">
            <div class="grid-container temp-details">
                <div class="grid-chid tempLow" id="tempLow4"></div>
                <div class="grid-chid tempHigh" id="tempHigh4"></div>
            </div>
        </div>
    </div>
    <div id="container">
        <div id="map"></div>
        <div id="resizer"></div>
        <div id="right-panel">
            <div id="chatbot-area">
                <div id="chatbot-messages">
                </div>
                <div id="input-container">
                    <input type="text" id="chatbot-input" placeholder="Type a message..." onkeydown="submitChat(event)">
                    <button id="voice-btn" onclick="startVoiceInput()">
                        <i id="record" class="fas fa-microphone"></i>
                    </button>
                </div>

                <div id="voice">
                    <div class="mt-4" id="div_language" style="display:none">
                        <h2 class="mb-3 text-light">Select Language</h2>
                        <select class="form-select bg-secondary text-light" id="select_language" onchange="updateCountry()"></select>
                        <select class="form-select bg-secondary text-light mt-2" id="select_dialect"></select>
                    </div>
                </div>

            </div>
        </div>       
        <div id="zoom-controls">
            <button id="zoom-in">+</button>
            <button id="zoom-out">-</button>
    </div>
    <div id="waypoint-form-container" style="display: none;">
        <div id="waypoint-form">
            <label for="waypoint-title">Title:</label>
            <input type="text" id="waypoint-title" name="waypoint-title"><br>
            <label for="waypoint-notes">Notes:</label>
            <textarea id="waypoint-notes" name="waypoint-notes"></textarea><br>
            <button id="save-waypoint">Save</button>
            <button id="cancel-waypoint">Cancel</button>
        </div>
    </div>
    <div class="tooltip">Click to display detailed forecast.</div>
    <script src="{{ url_for('static', filename='js/map-setup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/language.js') }}"></script>
    <script src="{{ url_for('static', filename='js/speech-recognition.js') }}"></script>
    <script src="{{url_for('static',filename='js/chatbox-resize.js')}}"></script>
    <script src="{{url_for('static',filename='js/weather-widget.js')}}"></script>
</body>
</html>